<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form 2</title>
</head>
<body>
<form action="#" method="post" class="form-horizontal">

    <!--Color-->
    <label class="col-sm-1 control-label" for="color">Pet Color</label>

    <div class="col-sm-3">
        <check if="{{isset(@errors['color'])}}">
            <p>{{ @errors['color'] }}</p>
        </check>

<select class="form-control" name="color" id="color">
    <option>
        --
        Select a color
        --
    </option>
    <repeat group="{{ @colors }}" value="{{ @colorOption }}">
        <option>{{ @colorOption }}</option>
    </repeat>

</select>
    </div>

    <div class="col-xs-3 ">
        <input class="form-control btn btn-default"
               type="submit" value="Order">
    </div>
</form>
</body>
</html>